In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Utsav\Downloads\titanic.csv")

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder,MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
df.drop(columns=['PassengerId', 'Name', 'Ticket','Cabin'],axis=1,inplace=True)

In [7]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns='Survived',axis=1),df.Survived,test_size=0.2)

In [8]:
x_train

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
838       3    male  32.0      0      0   56.4958        S
217       2    male  42.0      1      0   27.0000        S
752       3    male  33.0      0      0    9.5000        S
708       1  female  22.0      0      0  151.5500        S
148       2    male  36.5      0      2   26.0000        S
..      ...     ...   ...    ...    ...       ...      ...
783       3    male   NaN      1      2   23.4500        S
693       3    male  25.0      0      0    7.2250        C
416       2  female  34.0      1      1   32.5000        S
244       3    male  30.0      0      0    7.2250        C
753       3    male  23.0      0      0    7.8958        S

[712 rows x 7 columns]

In [9]:
si_age=SimpleImputer()
si_embarked=SimpleImputer(strategy='most_frequent')

x_train_age=si_age.fit_transform(x_train[['Age']])

In [10]:
x_train_embarked=si_embarked.fit_transform(x_train[['Embarked']])
x_test_age=si_age.transform(x_test[['Age']])
x_test_embarked=si_embarked.transform(x_test[['Embarked']])

In [11]:
ohe_sex=OneHotEncoder(sparse=False,handle_unknown='ignore') 
ohe_embarked=OneHotEncoder(sparse=False,handle_unknown='ignore')

# we are using two objects because we have missing values in embarked

#And handle_unknown is if we encounter another category in test set we will simply ignore it
#as we fit our object on train data

In [16]:
x_train_sex=ohe_sex.fit_transform(x_train[['Sex']])
x_train_emb=ohe_embarked.fit_transform(x_train_embarked)

C:\Users\Utsav\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\Utsav\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [17]:
x_test_sex=ohe_sex.transform(x_test[['Sex']])
x_test_emb=ohe_embarked.transform(x_test_embarked)

In [18]:
x_train_emb

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       ...,
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [22]:
x_train_rem=x_train.drop(columns=['Sex','Age','Embarked'])
x_test_rem=x_test.drop(columns=['Sex','Age','Embarked'])

In [23]:
x_train_final=np.concatenate((x_train_rem,x_train_age,x_train_emb),axis=1)
x_test_final=np.concatenate((x_test_rem,x_test_age,x_test_emb),axis=1)

In [25]:
model=DecisionTreeClassifier()

In [26]:
model.fit(x_train_final,y_train)

DecisionTreeClassifier()

In [27]:
model.score(x_test_final,y_test)

0.6815642458100558

In [31]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,model.predict(x_test_final))

0.6815642458100558

In [32]:
import pickle

In [34]:
pickle.dump(model,open('model/model1.pkl','wb'))
pickle.dump(ohe_sex,open('model/encoder_sex.pkl','wb'))
pickle.dump(ohe_embarked,open('model/encoder_embarked.pkl','wb'))