In [ ]:
import pandas as pd

<strong>Opening a local csv file</strong>

In [2]:
df=pd.read_csv(r"C:\Users\Utsav\Desktop\pokemon.csv")

In [3]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

<strong>From URL</strong>

In [5]:
import requests
from io import StringIO

<strong>Sep Parameter</strong>

In [12]:
pd.read_csv(r"SMSSpamCollection.tsv",sep='\t',names=['Result','Message']) #isme hum comma ki jagah tab ko as a separator use krte hain to yeh value aati h
#names se hum column names dete hain

     Result                                            Message
0       ham  I've been searching for the right words to tha...
1      spam  Free entry in 2 a wkly comp to win FA Cup fina...
2       ham  Nah I don't think he goes to usf, he lives aro...
3       ham  Even my brother is not like to speak with me. ...
4       ham                I HAVE A DATE ON SUNDAY WITH WILL!!
...     ...                                                ...
5563   spam  This is the 2nd time we have tried 2 contact u...
5564    ham               Will ü b going to esplanade fr home?
5565    ham  Pity, * was in mood for that. So...any other s...
5566    ham  The guy did some bitching but I acted like i'd...
5567    ham                         Rofl. Its true to its name

[5568 rows x 2 columns]

<h1>Index_col</h1>
<h2>Isme hume agar index ko koi column value deni hoti h to hum ye use krte h</h2>
df=pd.read_csv(r"C:\Users\Utsav\Desktop\pokemon.csv",index_col='column name')
<h4></h4>

<h2>Header Parameter</h2>
<h4> Isme agar dataset ka column name row mein aa raha h to use krte hain<br>
df=pd.read_csv(r"C:\Users\Utsav\Desktop\pokemon.csv",header=1)</h4>

<h2>use_cols</h2>
<h4>Isme hum un columns ko specify krte hain jo hume use krni h 
to hum import ke time hi unko specify krdete hain
df=pd.read_csv(r"C:\Users\Utsav\Desktop\pokemon.csv",use_cols=[column names])</h4>

<h2>Skip rows/nrows</h2>
<h4>Isme hum rows ko skip krte hain
df=pd.read_csv(r"C:\Users\Utsav\Desktop\pokemon.csv",skiprows=[0,5])<br>
df=pd.read_csv(r"C:\Users\Utsav\Desktop\pokemon.csv",nrows=100)</h4>

<h2>Skip Bad Lines</h2>
<h4>Isme ye bad rows ko skip krta hai jaise agar 8 columns hain aur us row mein 9 values hain to wo us row ko skip kr dega .
df=pd.read_csv(r"C:\Users\Utsav\Desktop\pokemon.csv",error_bad_lines=False)</h4>

<h2>Dtype Parameter</h2>
<h4>Isme hum agar kisi column ka datatype change krna hain to use krte h
    isme hum as a dictionary input krte hain
df=pd.read_csv(r"C:\Users\Utsav\Desktop\pokemon.csv",dtype={'colname':value)</h4>

<h2>Handling Data </h2>
<h4>agar hume string wali dates ko date mein convert krna hain to
df=pd.read_csv(r"C:\Users\Utsav\Desktop\pokemon.csv",parse_dates=['colname'])</h4>

<h2>Converter</h2>
<h4>Isme hum convert krte hain column ki values ko according to oour convenience
df=pd.read_csv(r"C:\Users\Utsav\Desktop\pokemon.csv",converters={'col name': Funcname})</h4>

<h2>NA Values</h2>
<h4>isme hum un values ko convert krte hain null mein agar kahin pe na ki jagah 
hypen h ya koi aur symbol hai jo na nahin but koi value bhi signify nahi krta ye use krte hain
df=pd.read_csv(r"C:\Users\Utsav\Desktop\pokemon.csv",na_values=['Value Name'])</h4>

<h2>Dividing datset into chunks</h2>
<h4>df=pd.read_csv(r"C:\Users\Utsav\Desktop\pokemon.csv",chunksize=5000)</h4>

In [17]:
ddff=pd.read_csv("Bengaluru_House_Data.csv",chunksize=5000)

In [18]:
for ds in ddff:
    print(ds.shape)

(5000, 9)
(5000, 9)
(3320, 9)