In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'c:\Users\Utsav\Downloads\titanic.csv')

In [4]:
df.drop(['PassengerId','Embarked','Cabin','Name','SibSp','Parch','Ticket'],axis="columns",inplace=True)

In [5]:
df

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [12]:
input=df.drop(["Survived"],axis="columns")
target=df.Survived

In [13]:
dummy=pd.get_dummies(input.Sex).astype(int)
input=pd.concat([input,dummy],axis="columns")
input.drop(['Sex'],axis="columns",inplace=True)

In [14]:
input

     Pclass   Age     Fare  female  male
0         3  22.0   7.2500       0     1
1         1  38.0  71.2833       1     0
2         3  26.0   7.9250       1     0
3         1  35.0  53.1000       1     0
4         3  35.0   8.0500       0     1
..      ...   ...      ...     ...   ...
886       2  27.0  13.0000       0     1
887       1  19.0  30.0000       1     0
888       3   NaN  23.4500       1     0
889       1  26.0  30.0000       0     1
890       3  32.0   7.7500       0     1

[891 rows x 5 columns]

In [20]:
input.columns[input.isna().any()]  #This executes the function in square brackets corresponds to every column.

Index(['Age'], dtype='object')

In [25]:
mean=input.Age.mean()
input.Age.fillna(mean,inplace=True)

In [27]:
input

     Pclass        Age     Fare  female  male
0         3  22.000000   7.2500       0     1
1         1  38.000000  71.2833       1     0
2         3  26.000000   7.9250       1     0
3         1  35.000000  53.1000       1     0
4         3  35.000000   8.0500       0     1
..      ...        ...      ...     ...   ...
886       2  27.000000  13.0000       0     1
887       1  19.000000  30.0000       1     0
888       3  29.699118  23.4500       1     0
889       1  26.000000  30.0000       0     1
890       3  32.000000   7.7500       0     1

[891 rows x 5 columns]

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(input,target,test_size=0.2)

In [31]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [32]:
model.fit(x_train,y_train)

GaussianNB()

In [34]:
model.score(x_test,y_test)

0.7821229050279329

In [36]:
model.predict_log_proba(x_test)

array([[-2.12986160e+01, -5.62508262e-10],
       [-3.20471397e+00, -4.14164467e-02],
       [-5.60125191e+00, -3.70007406e-03],
       [-1.25414521e-02, -4.38498013e+00],
       [-3.10446877e+00, -4.58851415e-02],
       [-3.88567858e+00, -2.07476417e-02],
       [-6.28806281e+00, -1.86008533e-03],
       [-3.82676815e+00, -2.20205742e-02],
       [-7.38472130e+00, -6.20856310e-04],
       [-3.90564260e+00, -2.03333445e-02],
       [-3.21165851e+00, -4.11238493e-02],
       [-3.92732611e+00, -1.98928245e-02],
       [-1.14913902e-02, -4.47189740e+00],
       [-4.37769647e+00, -1.26337148e-02],
       [-1.11660618e-02, -4.50045413e+00],
       [-1.02738398e-02, -4.58328696e+00],
       [-2.30796974e-02, -3.78031960e+00],
       [-3.14813008e+00, -4.38811816e-02],
       [-3.28179935e+00, -3.82841876e-02],
       [-9.23843863e-02, -2.42763389e+00],
       [-3.13187147e+00, -4.46167451e-02],
       [-3.99316274e+00, -1.86134574e-02],
       [-3.31883560e+00, -3.68662377e-02],
       [-4.00641867e+00, -1.83660820e-02],
       [-3.26161351e-01, -1.27901513e+00],
       [-1.07772795e-02, -4.53569891e+00],
       [-3.15320661e+00, -4.36540602e-02],
       [-2.69386641e-02, -3.62763179e+00],
       [-1.02385708e-02, -4.58670816e+00],
       [-2.31929863e-02, -3.77547944e+00],
       [-1.08104777e-02, -4.53263983e+00],
       [-3.14696163e+00, -4.39336280e-02],
       [-1.19568120e+01, -6.41540290e-06],
       [-1.15868854e-02, -4.46366924e+00],
       [-3.13159063e+00, -4.46295609e-02],
       [-1.04348842e-02, -4.56781374e+00],
       [-3.17211075e+00, -4.28188123e-02],
       [-1.30808648e-02, -4.34313812e+00],
       [-3.25317570e+00, -3.94180513e-02],
       [-1.09060374e-02, -4.52388681e+00],
       [-1.09466834e-02, -4.52018710e+00],
       [-1.13186204e-02, -4.48696006e+00],
       [-2.07737142e-02, -3.88443571e+00],
       [-1.19812481e+01, -6.26053475e-06],
       [-2.28384477e-02, -3.79070735e+00],
       [-1.80637129e-02, -4.02286843e+00],
       [-6.23946919e+00, -1.95279626e-03],
       [-1.17924784e-02, -4.44618382e+00],
       [-1.02886642e-02, -4.58185248e+00],
       [-3.13173441e+00, -4.46229993e-02],
       [-3.38344038e+00, -3.45195216e-02],
       [-2.72815665e+01, -1.41753276e-12],
       [-1.02358294e-02, -4.58697458e+00],
       [-5.77020436e+00, -3.12399460e-03],
       [-1.20611982e-02, -4.42378628e+00],
       [-1.04262003e-02, -4.56864195e+00],
       [-1.08183182e-02, -4.53191873e+00],
       [-6.89803174e+00, -1.01028113e-03],
       [-1.55203199e-01, -1.93961819e+00],
       [-3.72202291e+00, -2.44822538e-02],
       [-1.01767803e-02, -4.59273067e+00],
       [-1.13186204e-02, -4.48696006e+00],
       [-3.14756014e+00, -4.39067557e-02],
       [-1.89871544e+01, -5.67523095e-09],
       [-2.45334427e+01, -2.21440644e-11],
       [-3.77548207e+00, -2.31929246e-02],
       [-2.16194676e-02, -3.84495135e+00],
       [-3.99425931e+00, -1.85928668e-02],
       [-2.49739522e-02, -3.70238290e+00],
       [-3.82410396e+00, -2.20799728e-02],
       [-3.87459667e+00, -2.09812862e-02],
       [-8.34396228e-02, -2.52506173e+00],
       [-1.33830257e-01, -2.07735199e+00],
       [-2.23093229e-02, -3.81388454e+00],
       [-3.39004523e+00, -3.42883358e-02],
       [-1.35861685e-02, -4.30548842e+00],
       [-8.50077949e-02, -2.50721514e+00],
       [-3.17851999e+00, -4.25393517e-02],
       [-3.39574384e+00, -3.40901363e-02],
       [-4.51517701e+00, -1.10019685e-02],
       [-1.12797850e-02, -4.49037769e+00],
       [-3.90949835e+00, -2.02542973e-02],
       [-3.14756014e+00, -4.39067557e-02],
       [-1.02833289e-02, -4.58236851e+00],
       [-3.89395236e+00, -2.05749175e-02],
       [-1.23044026e-02, -4.40394404e+00],
       [-1.08543891e-02, -4.52860804e+00],
       [-1.26583280e-01, -2.12947894e+00],
       [-8.56237765e-02, -2.50029870e+00],
       [-1.05835071e-02, -4.55374551e+00],
       [-1.33306883e-02, -4.32434445e+00],
       [-3.13987681e+00, -4.42530094e-02],
       [-1.02884391e-02, -4.58187424e+00],
       [-4.37204500e+00, -1.27057727e-02],
       [-2.41891631e-02, -3.73392075e+00],
       [-2.13221054e-02, -3.85865304e+00],
       [-2.32190892e-02, -3.77436761e+00],
       [-1.04752172e-02, -4.56397612e+00],
       [-1.25976265e-02, -4.38053906e+00],
       [-3.74020775e+00, -2.40357264e-02],
       [-2.27495206e-02, -3.79456440e+00],
       [-1.11471632e-02, -4.50213864e+00],
       [-1.02863431e-02, -4.58207694e+00],
       [-1.26234341e-01, -2.13206855e+00],
       [-3.64438234e+00, -2.64852059e-02],
       [-3.85428956e+00, -2.14163530e-02],
       [-1.09997014e-02, -4.51538196e+00],
       [-1.02519249e-02, -4.58541138e+00],
       [-1.10287618e-02, -4.51275802e+00],
       [-1.04925273e-02, -4.56233364e+00],
       [-1.04299538e-02, -4.56828388e+00],
       [-3.23714702e+00, -4.00678920e-02],
       [-1.30874332e-02, -4.34263939e+00],
       [-1.98596110e-02, -3.92898058e+00],
       [-8.03686154e-02, -2.56104673e+00],
       [-3.87214687e+00, -2.10332943e-02],
       [-3.15221801e+00, -4.36981953e-02],
       [-1.02962275e-02, -4.58112141e+00],
       [-4.24121895e+00, -1.44945811e-02],
       [-8.75537593e-02, -2.47895978e+00],
       [-1.08104777e-02, -4.53263983e+00],
       [-3.13187147e+00, -4.46167451e-02],
       [-1.24486291e-01, -2.14515721e+00],
       [-3.61381535e-01, -1.19307615e+00],
       [-3.15272776e+00, -4.36754322e-02],
       [-3.78651771e+00, -2.29354414e-02],
       [-2.32300406e-02, -3.77390152e+00],
       [-3.93191841e+00, -1.98007719e-02],
       [-5.66033866e+00, -3.48741167e-03],
       [-1.24820437e-01, -2.14264021e+00],
       [-2.70736582e-02, -3.62270034e+00],
       [-2.16474377e-02, -3.84367238e+00],
       [-4.28904814e-02, -3.17047395e+00],
       [-1.20920795e-02, -4.42124458e+00],
       [-1.80438923e-01, -1.80122617e+00],
       [-3.71342319e+00, -2.46963347e-02],
       [-7.14528168e+00, -7.88887162e-04],
       [-6.78753663e+00, -1.12837979e-03],
       [-1.19068195e+01, -6.74427787e-06],
       [-3.88751813e+00, -2.07091127e-02],
       [-1.37031660e-02, -4.29697214e+00],
       [-5.16131108e+00, -5.75068032e-03],
       [-4.65355580e-02, -3.09071612e+00],
       [-1.25926681e-02, -4.38093026e+00],
       [-3.40214602e+00, -3.38688561e-02],
       [-2.17889353e-02, -3.83722768e+00],
       [-1.42264491e-01, -2.02035643e+00],
       [-2.28964920e-02, -3.78819797e+00],
       [-3.15847392e+00, -4.34196733e-02],
       [-2.49394331e-02, -3.70374887e+00],
       [-3.96850122e+00, -1.90826628e-02],
       [-3.94942942e+00, -1.94536933e-02],
       [-1.03844451e-02, -4.57263398e+00],
       [-1.22761958e-01, -2.15826122e+00],
       [-2.20065305e-02, -3.82739911e+00],
       [-1.33306883e-02, -4.32434445e+00],
       [-1.11054991e-02, -4.50586249e+00],
       [-8.24488299e-02, -2.53651861e+00],
       [-1.20119547e-02, -4.42785287e+00],
       [-3.82226782e+00, -2.21210042e-02],
       [-1.22985227e-02, -4.40441909e+00],
       [-4.69355328e-01, -9.81910691e-01],
       [-3.13159027e+00, -4.46295773e-02],
       [-3.31482194e+00, -3.70172820e-02],
       [-3.95191057e+00, -1.94050147e-02],
       [-4.00262269e+00, -1.84365796e-02],
       [-1.07974223e-02, -4.53384171e+00],
       [-5.64416838e+00, -3.54436335e-03],
       [-9.92401060e-02, -2.35942278e+00],
       [-1.14932473e-02, -4.47173673e+00],
       [-1.08274220e-02, -4.53108212e+00],
       [-1.07772795e-02, -4.53569891e+00],
       [-1.03178915e-02, -4.57903036e+00],
       [-1.50182518e-02, -4.20598876e+00],
       [-2.41891631e-02, -3.73392075e+00],
       [-1.05932866e-02, -4.55282679e+00],
       [-2.45510803e-02, -3.71924985e+00],
       [-1.09899340e-02, -4.51626545e+00],
       [-1.02777435e-02, -4.58290902e+00]])